<h2 style="margin-top:50px" class="ui center aligned icon header">
  <i class="circular power off orange icon"></i>
  Login to continue
</h2>

<div class="ui placeholder segment" style="margin-top:100px">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
        <%= form_for(:session, html:{class: "ui form", role: "form"}, path: login_path) do |f| %>
          <div class="field">
            <%= f.label :userEmail, "Email" %>
            <div class="ui left large icon input">
              <%= f.email_field :userEmail, placeholder: "Your Email" %>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <%= f.label :password, "Password" %>
            <div class="ui left large icon input">
              <%= f.password_field :password, placeholder: "Your Password" %>
              <i class="lock icon"></i>
            </div>
          </div>
          <%= f.button "Login", class: "ui blue submit button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big button" onclick="signup();">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    SignUp
  </div>

  <div class="content">
    <%= form_for(:signup, html: {class: "ui form", role: "form"}, url: signup_path, method: 'post') do |f| %>
      <div class="field">
        <%= f.label :userName %>
        <%= f.text_field :userName, placeholder: "Your userName" %>
      </div>
      <div class="field">
        <%= f.label :userEmail %>
        <%= f.email_field :userEmail, placeholder: "Your Email" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Your password" %>
      </div>
        <%= f.button "signUp", class:"ui button"  %>
    <% end %>

  </div>

</div>
