<div class="ui large inverted menu">
  <div class="item">
    <img src="assets/logo.png">
  </div>
  <%= link_to 'Home', root_path, class:"item" %>
  <a class="item">Chatroom</a>
  <a class="item">Messages</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <% if !logged_in? %>
        <%= link_to 'Login', login_path, class:"item" %>
        <%= link_to 'SignUp', login_path, class:"item" %>
        <% else %>
        <%= link_to 'Logout', logout_path, class:"item", method: "delete" %>
        <% end %>
      </div>
    </div>
    <div class="item">
      <% if !logged_in? %>
      <%= link_to 'Login', login_path, class:"ui primary button" %>
      <% end %>
    </div>
  </div>
</div>
